*{
    margin: 0;
    padding: 0;
}

#full-header{
    background-color: aqua;
    /* viewport-width */
    width: 100vw;
    height: 100vh;
}

.header-content{
    border: 1px solid black;
    width: 300px;
    position: absolute;
    position: relative;
}
